body{
    text-align: center ;

}

h1{
    text-decoration: underline;
    letter-spacing:0.5ch;
}

.btn{
    border: solid white 2px;
    padding: 5px;   
}

.texte{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type:none
}

.texte ul li{
    margin:3% 0%;
}

