@font-face {
    font-family: 'MonsterFriend';
    src: url("font/MonsterFriendFore.otf") format('truetype');
}

@font-face {
    font-family: 'cmdFont';
    src: url("font/windows_command_prompt.woff");
}


body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'cmdFont';
    font-size: x-large;
}

a{
    text-decoration: none;
    color: #fff;
    
}

.header{
    border: solid #fff ;
    height: 10vh;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.row-left{
    padding-left: 2rem;
}

.list{
    list-style: none;
    display: flex;
}

.item{
   padding-right: 5rem;
    
}


header a:hover{
    border-bottom: #fff solid 3px;
    
}

/*****************************************************************************/

.contenu{
    display: flex;
    justify-content: space-between;
}

.contenu img{
    border: #fff solid 3px;
    height: 400px; 
}


.contenu div{
    display: flex;
    width: 50%;
    height: 89vh; 
    justify-content: center;
    align-items: center;
    
}    

.contenu p{
    text-align: center;
    align-self: center;
    width: 400px;
    border: #fff dashed 3px;
    font-size:x-large;
    padding: 20px;
}

/*****************************************************/

.projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

   
}

.proj{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 30vh;
    border: #fff solid;
    margin: 60px;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
}

.proj:hover{
    border: rgb(255, 255, 255) solid 5px;
}

.proj img{
    height: 90%;
    width: 90%;
    filter: grayscale(100%);
    transition: 0.6s;
}

.proj:hover img{
    filter: grayscale(0%)
}

.tab a{
    border: #fff solid;
    padding: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h2{
    border-bottom: #ffff solid ;
    width:fit-content;
    font-size: 21px;
}

.info .desc{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;  
    text-align: left;
    margin-right: 50px;
}


